.header{
    border:3px solid blue;
    background-color: black;
    height:160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_title{
    border:3px solid pink;
    font-family: Squada One;
    font-size: 60px;
    color:white;
}